$color-gray-dark: #8890a1;
$color-gray-light: #f4f4f6;

$color-dark: #000000;
$color-light: #ffffff;

$color-accent-first: #003db1;
$color-accent-second: #ff5d39;

$grid-padding: 20px;
$grid-gap: 30px;
