.info-block {
  width: 100%;
  min-height: 350px;
  padding-top: 48px;
  padding-right: 18px;
  padding-bottom: 40px;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  @media (min-width: 768px) {
    min-height: 380px;
    padding-top: 47px;
    padding-right: 20px;
    padding-left: 30px;
  }

  @media (min-width: 1024px) {
    padding-top: 58px;
  }

  @media (min-width: 1280px) {
    padding-right: 40px;
    padding-left: 40px;
  }

  &__title {
    max-width: 290px;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $color-dark;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 1024px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__description {
    max-width: 290px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $color-gray-dark;
  }
}
