extends ./templates/main.pug

block variables
  -
    const pageTitle = 'Главная | Private Banking';

block body
  +footer([
    {
      title: 'О&nbsp;банке',
      links: [
        {
          href: '#',
          text: 'Реквизиты',
        },
        {
          href: '#',
          text: 'Раскрытие информации',
        },
        {
          href: '#',
          text: 'Процентные ставки по&nbsp;вкладам физических&nbsp;лиц',
        },
        {
          href: '#',
          text: 'Список лиц, под контролем либо значительным влиянием которых находится Банк',
        },
      ],
    },
    {
      title: 'Частым клиентам',
      links: [
        {
          href: '#',
          text: 'Банковские карты',
        },
        {
          href: '#',
          text: 'Вклады',
        },
        {
          href: '#',
          text: 'Тарифы',
        },
        {
          href: '#',
          text: 'Защитные признаки банкнот Банка&nbsp;России',
        },
      ],
    },
    {
      title: 'Корпоративным клиентам',
      links: [
        {
          href: '#',
          text: 'Как стать клиентом',
        },
        {
          href: '#',
          text: 'Кредитование',
        },
        {
          href: '#',
          text: 'Интернет-банк',
        },
      ],
    },
    {
      title: 'Услуги на&nbsp;РЦБ',
      links: [
        {
          href: '#',
          text: 'Доступ на&nbsp;валютный рынок',
        },
        {
          href: '#',
          text: 'Брокерское обслуживание',
        },
        {
          href: '#',
          text: 'Открыть брокерский счет',
        },
        {
          href: '#',
          text: 'Еврооблигации',
        },
        {
          href: '#',
          text: 'Торговля на&nbsp;ММВБ',
        },
        {
          href: '#',
          text: 'Облигации',
        },
        {
          href: '#',
          text: 'QUIK трейдинг',
        },
        {
          href: '#',
          text: 'Transaq',
        },
      ],
    },
  ])
  script(
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  )
