extends ./templates/main.pug

block variables
  -
    const pageTitle = 'Главная | Private Banking';

block body
  main.main
    +unit({
      infoBlock: {
        title: 'Переводите с&nbsp;карты на&nbsp;карту',
        text: 'Быстрый и&nbsp;удобный способ перевести денежные средства. Узнайте о&nbsp;<a href="#">лимитах и&nbsp;комиссиях</a>',
        background: {
          color: '#f4f4f6',
          image: 'cards.png',
          position: {
            '0': 'right -43px bottom -33px',
            '512': 'right -43px bottom -33px',
            '768': 'right -92px bottom -96px',
            '1024': 'right -51px bottom -110px',
            '1280': 'right 27px bottom -120px',
          },
          size: {
            '0': '350px auto',
            '512': '350px auto',
            '768': '520px auto',
            '1024': '558px auto',
            '1280': 'auto auto',
          },
        },
      },
      button: {
        href: '#',
        text: 'Перевести',
      },
    })
    +units([
      {
        column: {
          classes: 'units__column_2-of-3',
        },
        infoBlock: {
          title: 'Прямой доступ на&nbsp;валютный рынок',
          text: 'Зарабатывайте на&nbsp;колебаниях курсов мировых валют',
          background: {
            color: '#f4f4f6',
            image: 'smartphone.png',
            position: {
              '0': 'right 0 bottom 0',
              '512': 'right 0 bottom 0',
              '768': 'right 0 bottom 0',
              '1024': 'right 0 bottom 0',
              '1280': 'right 0 bottom 0',
            },
            size: {
              '0': 'auto 150px',
              '512': 'auto 150px',
              '768': '312px auto',
              '1024': 'auto auto',
              '1280': 'auto auto',
            },
          },
        },
      },
      {
        column: {
          classes: 'units__column_1-of-3',
        },
        infoBlock: {
          title: 'Защитные признаки банкнот Банка России',
          text: 'Признаки подлинности, контролируемые с&nbsp;использованием х8-х10 лупы',
          background: {
            color: '#f4f4f6',
            image: 'column.png',
            position: {
              '0': 'right 0 bottom 0',
              '512': 'right 0 bottom 0',
              '768': 'right -7px bottom -44px',
              '1024': 'right 2px bottom 0',
              '1280': 'right -5px bottom 0',
            },
            size: {
              '0': 'auto 150px',
              '512': 'auto 150px',
              '768': 'auto auto',
              '1024': 'auto auto',
              '1280': 'auto auto',
            },
          },
        },
      },
      {
        column: {
          classes: 'units__column_1-of-3',
        },
        infoBlock: {
          title: 'До&nbsp;+0,5% годовых при дистанционном оформлении',
          text: 'Начался прием карт МИР по&nbsp;выдаче наличных в&nbsp;сети банкоматов и&nbsp;дополнительных офисов',
          background: {
            color: '#f4f4f6',
            image: 'woman.png',
            position: {
              '0': 'right 0 bottom 0',
              '512': 'right 0 bottom 0',
              '768': 'right -1px bottom -67px',
              '1024': 'right -6px bottom 0',
              '1280': 'right -36px bottom -55px',
            },
            size: {
              '0': 'auto 150px',
              '512': 'auto 150px',
              '768': '148px auto',
              '1024': '170px auto',
              '1280': 'auto auto',
            },
          },
        },
      },
      {
        column: {
          classes: 'units__column_2-of-3',
        },
        infoBlock: {
          title: 'Бесконтактная карта MasterCard',
          text: 'Вы&nbsp;можете гораздо быстрее произвести оплату на&nbsp;АЗС, парковке, в&nbsp;кафе или в&nbsp;магазине одним касанием!',
          background: {
            color: '#f4f4f6',
            image: 'rock.png',
            position: {
              '0': 'right 0 bottom 0',
              '512': 'right 0 bottom 0',
              '768': 'right -57px bottom -11px',
              '1024': 'right -41px bottom -50px',
              '1280': 'right -45px bottom -5px',
            },
            size: {
              '0': 'auto 150px',
              '512': 'auto 150px',
              '768': '337px auto',
              '1024': 'auto auto',
              '1280': 'auto auto',
            },
          },
        },
      },
    ])
    +news([
      {
        time: {
          datetime: '2019-06-26',
          text: '26&nbsp;июня 2019&nbsp;года',
        },
        link: {
          href: '#',
          text: 'Предварительные выводы неутешительны: курс&nbsp;на социально-ориентированный национальный проект',
        },
      },
      {
        time: {
          datetime: '2019-06-25',
          text: '25&nbsp;июня 2019&nbsp;года',
        },
        link: {
          href: '#',
          text: 'Предварительные выводы неутешительны: курс&nbsp;на социально-ориентированный национальный проект',
        },
      },
      {
        time: {
          datetime: '2019-08-26',
          text: '26&nbsp;апреля 2019&nbsp;года',
        },
        link: {
          href: '#',
          text: 'Предварительные выводы неутешительны: курс&nbsp;на социально-ориентированный национальный проект',
        },
      },
    ])
  +footer([
    {
      title: 'О&nbsp;банке',
      links: [
        {
          href: '#',
          text: 'Реквизиты',
        },
        {
          href: '#',
          text: 'Раскрытие информации',
        },
        {
          href: '#',
          text: 'Процентные ставки по&nbsp;вкладам физических&nbsp;лиц',
        },
        {
          href: '#',
          text: 'Список лиц, под контролем либо значительным влиянием которых находится Банк',
        },
      ],
    },
    {
      title: 'Частым клиентам',
      links: [
        {
          href: '#',
          text: 'Банковские карты',
        },
        {
          href: '#',
          text: 'Вклады',
        },
        {
          href: '#',
          text: 'Тарифы',
        },
        {
          href: '#',
          text: 'Защитные признаки банкнот Банка&nbsp;России',
        },
      ],
    },
    {
      title: 'Корпоративным клиентам',
      links: [
        {
          href: '#',
          text: 'Как стать клиентом',
        },
        {
          href: '#',
          text: 'Кредитование',
        },
        {
          href: '#',
          text: 'Интернет-банк',
        },
      ],
    },
    {
      title: 'Услуги на&nbsp;РЦБ',
      links: [
        {
          href: '#',
          text: 'Доступ на&nbsp;валютный рынок',
        },
        {
          href: '#',
          text: 'Брокерское обслуживание',
        },
        {
          href: '#',
          text: 'Открыть брокерский счет',
        },
        {
          href: '#',
          text: 'Еврооблигации',
        },
        {
          href: '#',
          text: 'Торговля на&nbsp;ММВБ',
        },
        {
          href: '#',
          text: 'Облигации',
        },
        {
          href: '#',
          text: 'QUIK трейдинг',
        },
        {
          href: '#',
          text: 'Transaq',
        },
      ],
    },
  ])
  script(
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  )
